<div class="container">
<div class="centered">
<h1>Fill out the form below to register</h1>
<p><b>Already</b> have an account? <b><a href="#/login">Click here</a> to Login.</b></p>
  <div class="col-lg-10 col-lg-offset-1">
    <div class="alert alert-danger" ng-repeat="(key, error) in errors">
      <p class="text-center">{{ error.message }}</p>
    </div>
  </div>
  <form class="form-horizontal" ng-submit="register()">
    <br />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <label for="email" class="form-control-label">Email Address</label>
        <input type="text" class="form-control" placeholder="john.doe@email.com" ng-model="user.email" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <label for="password" class="form-control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password123" ng-model="user.password" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <label for="firstName" class="form-control-label">Name</label>
        <input type="text" class="form-control" placeholder="John" ng-model="user.name" />
      </div>
     
    </div>
    <br />
   
    <br />
    
    
    
    <br />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <button type="submit" class="btn btn-success btn-md wide">Submit</button>
      </div>
    </div>
    <br />
  </form>
</div>
</div>